h1, h2, h3, p {
    font-family: 'Quicksand', sans-serif;
}

.item {
    border: 2px solid black;
}

.logo {
    flex: .1;
} 

.title {
    font-family: 'Quicksand', sans-serif;
    flex: .6;
    text-align: center;
}

.pizza {
    max-width: 100%;
    margin: 0 auto;
}

.price {
    flex: .3;
    text-align: center;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.pizza-content {
    display: flex;
    flex-direction: column;
    flex: .8;
}

.pizza-upper {
    display: flex;
    flex-direction: row;
    height: 300px;
}

.pizza-image {
    padding: 10px;
    margin: 10px;
    flex: .4;
}

.pizza-options {
    display: flex;
    flex-direction: row;
    flex: .6;
}

.size-option {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin: 5px;
    flex: .5;
}

.premade-option {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin: 5px;
    flex: .5;
}

.pizza-lower {
    column-count: 4;
    column-gap: 40px;
    padding: 40px;
}

.summary-content {
    display: flex;
    flex-direction: column;
    flex: .2;
}

.order-summary {
    text-align: center;
    height: 500px;
}

.order-submit {
    padding: 10px;
    margin: 10px;
}

@media all and (max-width: 750px) {
    .container {
        width: 100%;
    }

    .pizza-upper {
        flex-direction: column;
        height: 500px;
    }

    .pizza {
        
    }
}

@media all and (max-width: 575px) {
    html {
        min-width: 500px;
    }
    
    .title {
        font-size: 13px;
    }
}

.pizzaTopping{
    text-align: center;
    padding: 15px;
    background-color: #ccc;
    color: black;
    border-radius: 15px;
}

.addOrder{
    text-align: center;
    padding: 15px;
    background-color: #ccc;
    color: black;
    border-radius: 15px;
}
