.item {
    border: 2px solid black;
}

.container {
    display: flex;
    flex-direction: row;
}

.pizza-content {
    display: flex;
    flex-direction: column;
}

.pizza-upper {
    display: flex;
    flex-direction: row;
}

